<% include ../layout/header.html %>

<div class="rtc-main">

    <h2 class="rtc-title">面对面<br>零距离接触<br></h2>
    <div class="rtc-btn-box ">
        <input class="input rtc-channelName J-channelName" type="text" placeholder="请输入数字房间号，相同房间可进行通信哦">
        <a class="btn btn-white J-toggleRTC">加入房间</a>
        <span class="checkbox J-tip-check">debug</span>
        <p class="btn-option">
            <a class="btn btn-small J-showBroswer">查看浏览器信息</a>
            <a class="btn btn-small J-toggleMic">开启麦克风</a>
            <a class="btn btn-small J-toggleCam">开启摄像头</a>
            <a class="btn btn-small J-toggleScreenShare hide">开启桌面共享</a>
            <a class="btn btn-small J-switchCamera hide">切换摄像头</a>
            <a class="btn btn-small J-toggleAudio hide">播放本地音频(默认不开)</a>
            <a class="btn btn-small J-toggleCanvas">测试canvas</a>
        </p>
    </div>
    <div class="rtc-media ">
        <div class="rtc-video">
            <video class="video local J-local-video"></video>
            <video class="video remote J-remote-video"></video>
        </div>
        <canvas id="canvas"></canvas>
    </div>
</div>

<% include ../layout/snip.html %>
<% include ../layout/footer.html %>