<% include ../layout/header.html %>


<div class="rtc-main">
    <h2 class="rtc-title">桌面共享<br>沟通无障碍(支持 Chrome / Firefox)<br></h2>
    <div class="rtc-btn-box ">
        <a class="btn btn-white J-start">立即体验</a>
        <div class="share-url J-share-url"></div>
    </div>
    <div class="rtc-media ">
        <video class="video J-video"></video>
    </div>
    <% include ../layout/snip.html %>
</div>

<% include ../layout/footer.html %>