.rtc-main .rtc-media{
    width: 80vw;
    margin: 20px auto;
    max-width: 900px;
}

.rtc-btn-box .share-url {
    font-size: 20px;
}

.rtc-btn-box .strong {
    font-size: 25px;
    margin: 0;
}


