<% include ../layout/header.html %>

<div class="bg"></div>
<h2 class="h-title">WebRTC实验室
    <br><br>
    <a href="//lduoduo.github.io" target="_blank">by lduoduo</a>
</h2>
<% include ../layout/snip.html %>
<% include ../layout/footer.html %>