<% include ../layout/header.html %>

<!--
<div class="bg"></div>
-->

<div class="main J-main">
    
    <div class="main-item">
        <h2 class="h-title">WebRTC实验室
            <br><br>
            <a href="//lduoduo.github.io" target="_blank">by lduoduo</a>
        </h2>
        <div class="item-title">
            <div class="mask"></div>
            <div class="detail">
                <p>桌面共享</p>
                <a href="/webrtc/desktop" class="item">立即体验</a>
            </div>
        </div>
    </div>
    <div class="main-item">
        <div class="item-title">
            <div class="mask"></div>
            <div class="detail">
                <p>实时音视频</p>
                <a href="/webrtc/chat" class="item">立即体验</a>
            </div>
        </div>
    </div>
    <div class="main-item">
        <div class="item-title">
            <div class="mask"></div>
            <div class="detail">
                <p>实时文案聊天</p>
                <a href="/webrtc/message" class="item">立即体验</a>
            </div>
        </div>
    </div>
    <a href="//lduoduo.github.io" target="_blank" class="tip"></a>
    <a href="//github.com/lduoduo" target="_blank" class="tip tip-2"></a>
</div>

<% include ../layout/footer.html %>