@import '../../common/style/common.less';
.bg {
    background: url('../../img/bg.jpg') center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    filter: opacity(0.9) blur(5px);
    position: fixed;
    top: 0;
    left: 0;
}

