<div class="tyt-detail">
        <a class="close">X</a>
        <div class="item analyser"></div>
        <!-- <div class="item eq">
            <input type="range" min="-40" max="40" step="1" value="0" data-type="32" class="J-eq-range"/>
            <input type="range" min="-40" max="40" step="1" value="0" data-type="64" class="J-eq-range"/>
            <input type="range" min="-40" max="40" step="1" value="0" data-type="125" class="J-eq-range"/>
            <input type="range" min="-40" max="40" step="1" value="0" data-type="250" class="J-eq-range"/>
            <input type="range" min="-40" max="40" step="1" value="0" data-type="500" class="J-eq-range"/>
            <input type="range" min="-40" max="40" step="1" value="0" data-type="850" class="J-eq-range"/>
            <input type="range" min="-40" max="40" step="1" value="0" data-type="1000" class="J-eq-range"/>
            <input type="range" min="-40" max="40" step="1" value="0" data-type="2000" class="J-eq-range"/>
            <input type="range" min="-40" max="40" step="1" value="0" data-type="4000" class="J-eq-range"/>
            <input type="range" min="-40" max="40" step="1" value="0" data-type="8000" class="J-eq-range"/>
            <input type="range" min="-40" max="40" step="1" value="0" data-type="12000" class="J-eq-range"/>
            <input type="range" min="-40" max="40" step="1" value="0" data-type="16000" class="J-eq-range"/>
        </div> -->
        <div class="item eq">
            <i class="eq-icon"></i>
            <div class="eq-item" data-type="32">
                <input type="range" min="-40" max="40" step="1" value="0" data-type="32" class="J-eq-range"/>
            </div>
            <div class="eq-item" data-type="64">
                <input type="range" min="-40" max="40" step="1" value="0" data-type="64" class="J-eq-range"/>
            </div>
            <div class="eq-item" data-type="125">
                <input type="range" min="-40" max="40" step="1" value="0" data-type="125" class="J-eq-range"/>
            </div>
            <div class="eq-item" data-type="250">
                <input type="range" min="-40" max="40" step="1" value="0" data-type="250" class="J-eq-range"/>
            </div>
            <div class="eq-item" data-type="500">
                <input type="range" min="-40" max="40" step="1" value="0" data-type="500" class="J-eq-range"/>
            </div>
            <div class="eq-item" data-type="850">
                <input type="range" min="-40" max="40" step="1" value="0" data-type="850" class="J-eq-range"/>
            </div>
            <div class="eq-item" data-type="1000">
                <input type="range" min="-40" max="40" step="1" value="0" data-type="1000" class="J-eq-range"/>
            </div>
            <div class="eq-item" data-type="2000">
                <input type="range" min="-40" max="40" step="1" value="0" data-type="2000" class="J-eq-range"/>
            </div>
            <div class="eq-item" data-type="4000">
                <input type="range" min="-40" max="40" step="1" value="0" data-type="4000" class="J-eq-range"/>
            </div>
            <div class="eq-item" data-type="8000">
                <input type="range" min="-40" max="40" step="1" value="0" data-type="8000" class="J-eq-range"/>
            </div>
            <div class="eq-item" data-type="12000">
                <input type="range" min="-40" max="40" step="1" value="0" data-type="12000" class="J-eq-range"/>
            </div>
            <div class="eq-item" data-type="16000">
                <input type="range" min="-40" max="40" step="1" value="0" data-type="16000" class="J-eq-range"/>
            </div>
        </div>
    </div>