body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url('../../img/bg.jpg') center no-repeat;
    background-size: cover;
}

.footer {
    display: none;
}

.rtc-component {
    position: absolute;
    bottom: 20vh;
    width: 100vw;
    a {
        background: rgba(255, 255, 255, 0.3);
        color: #404040;
    }
}

.h-title {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 50px;
    text-align: center;
    top: 150px;
    color: #fafffe;
    text-shadow: 10px 10px 8px #d0fdee;
    font-size: 2.5rem;
    a {
        color: #f9b7b7;
        cursor: pointer;
    }
}